<div class="footer">
    <div class="pull-right">
        Hotline: (+84)905.918.227
    </div>
    <div>
        <strong>Copyright</strong> Công ty Cổ phần dịch vụ Divuvina &copy; 2016
    </div>
</div>
