# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/Divuvina/bin
/Divuvina/obj
/.vs
/Divuvina/Divuvina.csproj.user
/Divuvina/Views/DanhMucDiaChi/DanhMucDuong - Copy.cshtml
/Divuvina/Views/DanhMucDiaChi/DanhMucLoaiDiaChi - Copy.cshtml
/Divuvina/Views/DanhMucDiaChi/DanhMucPhuongXa - Copy.cshtml
/Divuvina/Views/DanhMucDiaChi/DanhMucQuanHuyen - Copy.cshtml
/Divuvina/Views/DanhMucDiaChi/DanhMucTinhThanh - Copy.cshtml
/Divuvina/Views/DanhMucDiaChi/DanhMucQuocGia - Copy.cshtml
/Divuvina/Views/QuanLyNhanVien/DanhMucLoaiHopDong - Copy.cshtml
/Divuvina/Views/QuanLyNhanVien/DanhMucViTri - Copy.cshtml
/Divuvina/Views/QuanLyNhanVien/DanhMucPhongBan - Copy.cshtml
/Divuvina/Views/QuanLyNhanVien/DanhMucLoaiTroCap - Copy.cshtml
/Divuvina/Views/QuanLyXe/NhapThongTinXe - Copy.cshtml
/Divuvina/Views/DanhMucXepLichXe/DanhMucChiPhi - Copy.cshtml
/Divuvina/Views/DanhMucXe/HangSanXuatXe - Copy.cshtml
/Divuvina/Views/DanhMucXe/DanhMucThietBiLinhKien - Copy.cshtml
/Divuvina/Views/DanhMucXe/DanhMucNoiSuaChuaXe - Copy.cshtml
