
@{
    ViewBag.Title = "DanhMucLoaiXe";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>DanhMucLoaiXe</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form class="form-horizontal m-t-md" action="#">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên loại xe:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Nhập tên loại xe">
                                <span />
                            </div>

                            <label class="col-sm-2 control-label">Mô tả:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Nhập mô tả loại xe">
                                <span />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hãng sản xuất:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Nhập hãng sản xuất xe">
                                <span />
                            </div>

                            <label class="col-sm-2 control-label">Model:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Nhập model xe">
                                <span />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <input type="radio" name="MayChayXangDau" id="radioMayChayDau" value="option1" checked>
                                <label for="radioMayChayDau">Máy chạy dầu</label>
                            </div>
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <input type="radio" name="MayChayXangDau" id="radioMayChayXang" value="option2">
                                <label for="radioMayChayXang">Máy chạy xăng</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số ghế:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Nhập tổng số ghế" />
                                <span />
                            </div>
                            <label class="col-sm-2 control-label">Loại ghế:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Nhập loại ghế" />
                                <span />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ghi chú:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Nhập ghi chú">
                                <span />
                            </div>
                        </div>

                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Ten</th>
                                    <th>DienGiai</th>
                                    <th>GhiChu</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                @*
                                <tr>
                                    <th class="text-center" width="150">Tên loại hợp đồng</th>
                                    <th class="text-center" width="150">Diễn giải</th>
                                    <th class="text-center" width="300">Ghi chú</th>
                                </tr>*@
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
